.Card_container{
	height: 80vh;
	width: 80vw;
	overflow-x: hidden;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.Card_container::-webkit-scrollbar{
	display: none;
}
.scroll_bg{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2%;
}