.Container_Navbar{
	background-color: white;
	display: flex;
	justify-content: space-around;
	flex:1;

}

.Text_Container{
	display: flex;
	justify-content: space-between;
	flex:2;
	
	
}
.Text{
	padding-top: 1%;
	padding-bottom:1%;
	padding-right: 2%;
	padding-left: 2%;
	font-weight: 500;

}
.Text a {
  text-decoration: none;
  color: black;
  
}

#Prescript:hover{
	cursor: pointer;
}
